cat << 'EOF' > layouts/partials/menu.html
{{ $isLocal := (or (eq .Site.BaseURL "/") (strings.Contains .Site.BaseURL "localhost")) }}

{{/* 
  IMPORTANT: Cette URL doit pointer vers VOTRE dépôt GitHub QGIS-CAMEROUN
  Remplacez 'master' par 'main' si votre branche par défaut est 'main'
*/}}
{{ $navConfigURL := "https://raw.githubusercontent.com/michaekong/QGIS-CAMEROUN/master/static/config/navigation.json" }}

<qg-top-nav
    breakpoint="1024"
    class="is-highest navbar is-fixed-top"
    location-prefix="cameroon"
    logo-icon="{{ .Site.Params.uniNavHeaderLogoIcon | default "img/qgis-cameroun-icone-512.png" | absURL }}"
    logo-link="{{ .Site.BaseURL }}"
    second-menu-prefix="https://qgis.org"
    secondary-menu-config="{{ $navConfigURL }}"
></qg-top-nav>
EOF